<div class="column p-0">
  <img src="https://i2.wp.com/diplomartbrussels.com/wp-content/uploads/2020/09/food-background-images-94-images-in-co-381169-png-images-pngio-food-background-png-1440_619.png?ssl=1" class="img-cover">

 
<%@posts.includes(:user).each do |idea|%>
  <div class="box">
   <article class="media">
     <div class="media-left">
       <figure class="image is-64x64">
         <%= gravatar_image_tag(idea.user.email, size: 64, alt: idea.user.name) %>
       </figure>
     </div>
      
     <div class="media-right">
       <div class="content">
        <strong><%= idea.user.name %></strong><br />
  			<small><%= idea.user.username %></small><br/>
        <p><%= idea.idea %></p>
       </div>
     </div>
   </article>
   
  </div>
<% end %>
</div>