 <div class="position-relative ">
 
  <%= render 'ideas/nav'%>
    <div class="columns mt-0 ">    
        <%= render 'feed'%>
         <%= render 'ideas/menu'%>
        <%= render 'ideas/follow'%>
    </div>
</div>

 